<!DOCTYPE html>
<html>
<head>
    <title>Autonoma- Meklēšana</title>
    <div id="header">
        <h1 id="title">Vagi.lv
          <a href="./">Sākums</a>
          <a href="./search">Meklēt</a>
          <a href="./about">Par mums</a>
          <img class="logo" src="/CODE/Resources/logo.png" alt="logo bilde">

        </h1>
    </div>
    
</head>
<body>
    <h2>Meklēt automašīnu</h2>
    <form>
    <select name="carBrand">
        <div class="brandNames">
        <option>BMW</option>
        <option>Mercedes</option>
        </div>
    </select>
    <select name="CarClass">
        <option>Sporta</option>
        <option>Minivens</option>
        <option>Sedans</option>
        <option>Kabriolets</option>
    </select>
    <select name="pickupPoint">
        <div class="carPickupPoint">
        <option>Brīvības iela 104 (sarakstu var papildināt</option>
        </div>
    </select>
    <p>Datums kurā vēlaties nomāt auto:</p><input type="date">

    <button type="submit" id="searchCar">Meklēt</button>
    </form>
    
</body>
</html>